html, body {
	margin: 0;
	overflow: hidden;
}

#menu-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	/* Make sure to keep this in sync with src/menu.js:setVisible! */
	display: flex;

	align-items: center;
	justify-content: center;

	background-color: #00000030;
}

.menu {
	display: flex;
	flex-direction: column;

	margin: 15px;

	flex-basis: 18rem;
	flex-shrink: 1;
}

.menu > label {
	display: flex;
	flex-direction: row;

	justify-content: space-between;
	flex-wrap: wrap;
}
